<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **2020 Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Load the dataset that will used thru the capstone project.
-   Explore the dataset.
-   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [1]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [2]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv"

Load the data available at dataset_url into a dataframe.

In [3]:
# your code goes here
df = pd.read_csv(dataset_url)
print(df.head())

   Respondent                                         MainBranch Hobbyist  \
0           1                     I am a developer by profession      Yes
1           2                     I am a developer by profession       No
2           3                        I code primarily as a hobby      Yes
3           4                     I am a developer by profession      Yes
4           5  I used to be a developer by profession, but no...      Yes

    Age Age1stCode CompFreq  CompTotal  ConvertedComp             Country  \
0   NaN         13  Monthly        NaN            NaN             Germany
1   NaN         19      NaN        NaN            NaN      United Kingdom
2   NaN         15      NaN        NaN            NaN  Russian Federation
3  25.0         18      NaN        NaN            NaN             Albania
4  31.0         16      NaN        NaN            NaN       United States

     CurrencyDesc  ...                  SurveyEase           SurveyLength  \
0   European Euro  ...  Neither easy nor difficult  Appropriate in length
1  Pound sterling  ...                         NaN                    NaN
2             NaN  ...  Neither easy nor difficult  Appropriate in length
3    Albanian lek  ...                         NaN                    NaN
4             NaN  ...                        Easy              Too short

  Trans                                     UndergradMajor  \
0    No  Computer science, computer engineering, or sof...
1   NaN  Computer science, computer engineering, or sof...
2   NaN                                                NaN
3    No  Computer science, computer engineering, or sof...
4    No  Computer science, computer engineering, or sof...

  WebframeDesireNextYear    WebframeWorkedWith  \
0           ASP.NET Core  ASP.NET;ASP.NET Core
1                    NaN                   NaN
2                    NaN                   NaN
3                    NaN                   NaN
4   Django;Ruby on Rails         Ruby on Rails

                              WelcomeChange WorkWeekHrs YearsCode YearsCodePro
0   Just as welcome now as I felt last year        50.0        36           27
1  Somewhat more welcome now than last year         NaN         7            4
2  Somewhat more welcome now than last year         NaN         4          NaN
3  Somewhat less welcome now than last year        40.0         7            4
4   Just as welcome now as I felt last year         NaN        15            8

[5 rows x 61 columns]

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [5]:
# your code goes here
print(df.head())
print(df.iloc[:, 5])

   Respondent                                         MainBranch Hobbyist  \
0           1                     I am a developer by profession      Yes
1           2                     I am a developer by profession       No
2           3                        I code primarily as a hobby      Yes
3           4                     I am a developer by profession      Yes
4           5  I used to be a developer by profession, but no...      Yes

    Age Age1stCode CompFreq  CompTotal  ConvertedComp             Country  \
0   NaN         13  Monthly        NaN            NaN             Germany
1   NaN         19      NaN        NaN            NaN      United Kingdom
2   NaN         15      NaN        NaN            NaN  Russian Federation
3  25.0         18      NaN        NaN            NaN             Albania
4  31.0         16      NaN        NaN            NaN       United States

     CurrencyDesc  ...                  SurveyEase           SurveyLength  \
0   European Euro  ...  Neither easy nor difficult  Appropriate in length
1  Pound sterling  ...                         NaN                    NaN
2             NaN  ...  Neither easy nor difficult  Appropriate in length
3    Albanian lek  ...                         NaN                    NaN
4             NaN  ...                        Easy              Too short

  Trans                                     UndergradMajor  \
0    No  Computer science, computer engineering, or sof...
1   NaN  Computer science, computer engineering, or sof...
2   NaN                                                NaN
3    No  Computer science, computer engineering, or sof...
4    No  Computer science, computer engineering, or sof...

  WebframeDesireNextYear    WebframeWorkedWith  \
0           ASP.NET Core  ASP.NET;ASP.NET Core
1                    NaN                   NaN
2                    NaN                   NaN
3                    NaN                   NaN
4   Django;Ruby on Rails         Ruby on Rails

                              WelcomeChange WorkWeekHrs YearsCode YearsCodePro
0   Just as welcome now as I felt last year        50.0        36           27
1  Somewhat more welcome now than last year         NaN         7            4
2  Somewhat more welcome now than last year         NaN         4          NaN
3  Somewhat less welcome now than last year        40.0         7            4
4   Just as welcome now as I felt last year         NaN        15            8

[5 rows x 61 columns]
0        Monthly
1            NaN
2            NaN
3            NaN
4            NaN
          ...
64456        NaN
64457        NaN
64458        NaN
64459        NaN
64460        NaN
Name: CompFreq, Length: 64461, dtype: object

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [8]:
# your code goes here
print(df.shape[0])

64461

Print the number of columns in the dataset.

In [9]:
# your code goes here
print(df.shape[1])

61

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [10]:
# your code goes here
print(df.dtypes)

Respondent              int64
MainBranch             object
Hobbyist               object
Age                   float64
Age1stCode             object
                       ...
WebframeWorkedWith     object
WelcomeChange          object
WorkWeekHrs           float64
YearsCode              object
YearsCodePro           object
Length: 61, dtype: object

Print the mean age of the survey participants.

In [13]:
# your code goes here
mean_age = df['Age'].mean().round(2)
print(f"Mean Age: {mean_age}")

Mean Age: 30.83

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [18]:
num_countries = df['Country'].nunique()
print(f"Number of unique countries: {num_countries}")

print(df['Country'].unique())

Number of unique countries: 183
['Germany' 'United Kingdom' 'Russian Federation' 'Albania' 'United States'
 'India' 'Tunisia' 'Spain' 'Netherlands' 'France' 'Belgium' 'Portugal'
 'Canada' 'China' 'Ukraine' 'Italy' 'Brazil' 'Austria' 'Mexico' 'Sweden'
 'Poland' 'Indonesia' 'Greece' 'Israel' 'Czech Republic'
 'Bosnia and Herzegovina' 'Bulgaria' 'Serbia' 'Switzerland' 'Hungary'
 'Nepal' 'Slovenia' 'Uruguay' 'Denmark' 'Pakistan' 'Taiwan' 'Romania'
 'Finland' 'Costa Rica' 'Nigeria' 'Chile' 'Turkey' 'Panama' 'Ireland'
 'Estonia' 'Philippines' 'Australia' 'Nomadic' 'Peru' 'Cyprus' 'Sri Lanka'
 'Kenya' 'Norway' 'Kyrgyzstan' 'Iran' 'Croatia' 'Egypt' 'Argentina'
 'Ghana' 'Latvia' 'Morocco' 'Bangladesh' 'Ecuador' 'Haiti'
 'Venezuela, Bolivarian Republic of...' 'Colombia' 'Lithuania'
 'El Salvador' 'Honduras' 'Ethiopia' 'Lebanon' 'Uganda' 'Algeria'
 'Viet Nam' 'Guatemala' 'Syrian Arab Republic' 'Afghanistan' 'Slovakia'
 'United Arab Emirates' 'Belarus' 'Sudan' 'South Africa' 'Jordan'
 'Georgia' 'United Republic of Tanzania' 'Antigua and Barbuda'
 'Saudi Arabia' 'New Zealand' 'Kuwait' 'Armenia' 'Republic of Moldova'
 'Cuba' 'Luxembourg' 'Singapore' 'Azerbaijan' 'Dominican Republic'
 'Iceland' 'Isle of Man' 'Uzbekistan' 'Trinidad and Tobago' 'Senegal'
 'Andorra' 'Turkmenistan' 'Hong Kong (S.A.R.)' 'Benin' 'Bolivia'
 'Republic of Korea' 'Japan' 'Malta' 'Iraq' 'South Korea' 'Paraguay'
 'Malaysia' 'Thailand' 'Myanmar' 'Kazakhstan' 'Cambodia' 'Jamaica'
 'Nicaragua' 'Maldives' 'Democratic Republic of the Congo'
 'Papua New Guinea' 'Oman' 'The former Yugoslav Republic of Macedonia'
 'Malawi' 'Qatar' 'Madagascar' 'Botswana' 'Angola' 'Montenegro' 'Yemen'
 'Mongolia' 'Kosovo' 'Zambia' 'Zimbabwe' 'Libyan Arab Jamahiriya'
 'Mozambique' 'Somalia' 'Eritrea' 'Namibia' 'Rwanda' 'Burkina Faso'
 'Congo, Republic of the...' 'Swaziland' 'Bhutan' 'Cameroon' 'Bahrain'
 "Côte d'Ivoire" 'Sierra Leone' 'Togo' 'Niger' 'Barbados' 'Belize'
 'Saint Vincent and the Grenadines' "Lao People's Democratic Republic"
 'Tajikistan' 'Mauritius' 'Guinea' 'Brunei Darussalam' 'Bahamas'
 'Mauritania' 'Saint Lucia' 'Djibouti' 'San Marino' 'Lesotho' 'Nauru' nan
 'Burundi' 'Fiji' 'Kiribati' 'Grenada' 'Chad' 'Mali' 'Guyana'
 'Micronesia, Federated States of...' 'Gambia' 'North Korea'
 'Liechtenstein' 'Monaco' 'Timor-Leste' 'Solomon Islands' 'Cape Verde'
 'Gabon' 'Marshall Islands']

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).